<h1>Write a New Article</h1>


 <div class="col-md-6 col-md-offset-3 new-post"> 

    <%= form_for(@post, url: posts_path(@post), html: { method: :post }) do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

     <%= f.label :content%>
     <%= f.text_area :content, size: '50x10' %>
     <%= f.submit "Publish", class: "btn btn-primary" %>
    <% end %>
</div>

